body {
    background: linear-gradient(180deg, #B2B3CD 0%, #797AAF 50%, #B2B3CD 100%);
}

.approval-container {
    height: 100vh;
    grid-gap: 1.5rem;
    margin-left: 300px;
    padding: 50px;
    justify-content: center;
}

.approval-box {  
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
    justify-content: center;
}

.approval-page {
    width: 80%;
    justify-content: space-between;
}

.approval-page h3 {
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .approval-container {
        margin-left: 0;
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .approval-container {
        padding: 3px;
    }
}