@import "../../scss-config/mixin.scss";
@import "../../scss-config/color.scss";

.register-main {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  background: $color_light;
  
  .leftBox {
    // width: 50%;
    width: calc(50% - 68px);
    // margin: 40px 68px 100px;
    margin: 40px 0 100px 68px;
		@include mobile {
			width: 100%;
      margin: 10px auto;
		}
    
    .leftBox-container {
      font-size: 24px;
      @include mobile {
        font-size: 27px;
        margin: 35px;
      }
      
      form {
        width: 80%;
        margin-top: 58px;
      }
      
      .sub-message {
        margin-top: 20px;
          
        .bold {
          font-weight: bold;
        }
      }
    }
  }
  
  .rightBox {
    position: fixed;
    height: 100%;
    right: 0;
    z-index: 10000;
    width: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;

    &-img {
      width: 600px;
      margin: 20px auto;

      img {
        width: 100%;
        max-width: 965px;
      }
    }

		@include mobile {
			display: none;
		}
  }
}