@import "../../scss-config/color.scss";

body {
    background: linear-gradient(180deg, #B2B3CD 0%, #797AAF 50%, #B2B3CD 100%);
}

.dashboard-container {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-gap: 1.5rem;
    margin-left: 300px;
    padding: 2rem;
    grid-template-areas: 
    "box1 box1 box1 box1"
    "box2 box2 box3 box3"
    "box4 box4 box3 box3"
    "box4 box4 box5 box5"
}

.dashboard-box1 {
    grid-area: box1;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
}

.total {
    h3 {
        font-size: 40px;
        margin-left: -20px;
    }
    
    h1 {
        font-size: 60px;
        margin-left: 20px;
        margin-top: 20px;
        color: $color_point;
    }

}

.status {
    h4 {
        font-size: 30px;
        margin-left: -20px;
        margin-top: -20px;
    }
    
    h2 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 20px;
    }

} 

.dashboard-box2 {
    grid-area: box2;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0.5rem;
}

.history {
    max-width: 500px;
    width: 100%;
    justify-content: space-between;

    h3 {
        font-size: 40px;
        text-align: center;
    }

    ul {
        background: rgba(0,0,0,0.1);
        padding: 10px;
        box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        margin: 20px;
        overflow: hidden;

        li {
            display: flex;
            flex-wrap: wrap;
            background: rgba(255,255,255,0.1);
            padding: 5px 10px;
            margin: 5px 0;
            transition: .5s;
            border-radius: 5px;
            span {
                margin-right: 1rem;
            }
        }

        li:nth-child(1) {
            background: rgba(255,255,255,0.8);
        }
        li:nth-child(2) {
            background: rgba(255,255,255,0.6);
        }
        li:nth-child(3) {
            background: rgba(255,255,255,0.4);
        }
        li:nth-child(4) {
            background: rgba(255,255,255, 0.2);
        }
        li span:nth-child(1) {
            width: 50%;
        }
        li span:nth-child(2) {
            width: 18%;
            text-align: right;
        }
        li span:nth-child(3) {
            width: 20%;
            text-align: right;
        }
        li:hover {
            transform: scale(1.03);
            background: #B2B3CD;
        }
    }
}

.dashboard-box3 {
    grid-area: box3;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
}

.transaction {
    h3 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    h4 {
        font-size: 20px;
        margin: 2rem 0;
    }
} 

.dashboard-box4 {
    grid-area: box4;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
}

.dashboard-box5 {
    grid-area: box5;
}

.dashboard-add-btn, .dashboard-history-btn {
    padding: 0 5%;
}

@media screen and (max-width: 970px) {
    .dashboard-container {
        margin-left: 0;
        margin-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .dashboard-container {
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
    }

    .total {
        h3 {
            font-size: 30px;
            margin-left: 0;
            margin-top: 0;
        }
        
        h1 {
            font-size: 50px;
            margin-left: 10px;
            margin-top: 0px;
        }
    } 

    .status {
        h4 {
            font-size: 20px;
            margin-left: 0;
            margin-top: 20px;
        }
        
        h2 {
            font-size: 18px;
            margin-left: 20px;
            margin-top: 20px;
        }
    } 

    .history h3 {
        font-size: 30px;
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .dashboard-container {
        padding: 3px;
    }
}

