body {
    background: linear-gradient(180deg, #B2B3CD 0%, #797AAF 50%, #B2B3CD 100%);
}

.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1.5rem;
    margin-left: 300px;
    padding: 50px;
    grid-template-areas: 
    "box1 box1 box1 box1 box1"
    "box2 box2 box2 box3 box3"
}

.box {  
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
}

.box1 {
    grid-area: box1; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.total h3 {
    font-size: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.total h1 {
    font-size: 60px;
    margin-left: 20px;
    margin-top: 20px;
    color: #7400B8;
}

.status h4 {
    font-size: 30px;
    margin-left: -20px;
    margin-top: -20px;
}

.status h2 {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.box2 {
    grid-area: box2;
    justify-content: center;
}

.history h3 {
    font-size: 40px;
    text-align: center;
}

.history ul {
    background: rgba(0,0,0,0.1);
    padding: 20px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
}

.history ul li {
    display: flex;
    background: rgba(255,255,255,0.1);
    padding: 5px 20px;
    margin: 5px 0;
    transition: .5s;
    border-radius: 5px;
}

.history ul li:nth-child(1) {
    background: rgba(255,255,255,0.8);
}
.history ul li:nth-child(2) {
    background: rgba(255,255,255,0.6);
}
.history ul li:nth-child(3) {
    background: rgba(255,255,255,0.4);
}
.history ul li:nth-child(4) {
    background: rgba(255,255,255, 0.2);
}

.history ul li span:nth-child(1) {
    width: 90px;
}

.history ul li span:nth-child(2) {
    width: 160px;
    text-align: right;
}

.history ul li:hover {
    transform: scale(1.06);
    background: #B2B3CD;
}

.box3 {
    grid-area: box3;  
    justify-content: center;
}


.transaction h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.transaction h4 {
    font-size: 20px;
}

@media screen and (max-width: 960px) {
    .dashboard {
        margin-left: 0;
        margin-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .dashboard {
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "box1"
        "box2"
        "box3"
    }

    .total h3 {
        font-size: 30px;
        margin-left: 0;
        margin-top: 0;
    }
    
    .total h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: 20px;
        color: #7400B8;
    }

    .status h4 {
        font-size: 20px;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .status h2 {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .history h3 {
        font-size: 30px;
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .dashboard {
        padding: 3px;
    }
}