body {
  background: -webkit-gradient(linear, left top, left bottom, from(#B2B3CD), color-stop(50%, #797AAF), to(#B2B3CD));
  background: linear-gradient(180deg, #B2B3CD 0%, #797AAF 50%, #B2B3CD 100%);
}

.dashboard-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 2fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 2fr;
  -ms-grid-rows: 1fr 2fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-left: 300px;
  padding: 2rem;
      grid-template-areas: "box1 box1 box1 box1"
 "box2 box2 box3 box3"
 "box4 box4 box3 box3"
 "box4 box4 box5 box5";
}

.dashboard-box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: box1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.total h3 {
  font-size: 40px;
  margin-left: -20px;
}

.total h1 {
  font-size: 60px;
  margin-left: 20px;
  margin-top: 20px;
  color: #7400B8;
}

.status h4 {
  font-size: 30px;
  margin-left: -20px;
  margin-top: -20px;
}

.status h2 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.dashboard-box2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box2;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

.history {
  max-width: 500px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history h3 {
  font-size: 40px;
  text-align: center;
}

.history ul {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
}

.history ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  margin: 5px 0;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
}

.history ul li:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
}

.history ul li:nth-child(2) {
  background: rgba(255, 255, 255, 0.6);
}

.history ul li:nth-child(3) {
  background: rgba(255, 255, 255, 0.4);
}

.history ul li:nth-child(4) {
  background: rgba(255, 255, 255, 0.2);
}

.history ul li span:nth-child(1) {
    width: 50%;
}

.history ul li span:nth-child(2) {
    width: 30%;
}

.history ul li span:nth-child(3) {
    width: 20%;
    text-align: right;
}

.history ul li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background: #B2B3CD;
}

.dashboard-box3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: box3;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.dashboard-box4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box4;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.dashboard-box5 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: box5;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.dashboard-add-btn, .dashboard-history-btn {
  padding: 0 5%;
}

@media screen and (max-width: 970px) {
  .dashboard-container {
    margin-left: 0;
    margin-top: 80px;
  }
}

@media screen and (max-width: 800px) {
  .dashboard-container {
    grid-gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-template-areas: "box1"
 "box2"
 "box3"
 "box4"
 "box5";
  }
  .total h3 {
    font-size: 30px;
    margin-left: 0;
    margin-top: 0;
  }
  .total h1 {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .status h4 {
    font-size: 20px;
    margin-left: 0;
    margin-top: 20px;
  }
  .status h2 {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .history h3 {
    font-size: 30px;
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-container {
    padding: 3px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */