@import "../../scss-config/color.scss";


.footer {
    background-color: $color_point;
    border-radius: 10px;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 2rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    img {
        max-height: 45px;
        width: auto;
    }
}

.footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 20px;
    list-style: none;
    margin-bottom: 2rem;
    li {
        // margin-right: 30px;
        cursor: pointer;
    }
    li:hover {
        transform: scale(1.3);
        color: $color_black;
    }
}    

.copyright {
    display: flex;
    justify-content: center;
    color: $color_gray;
    line-height: 40px;
    font-size: 0.9em;
}

