.login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.leftBox {
  width: 50vw;
}

.rightBox {
  width: 50vw;
  background-color: #EBEBEB;
}
.triangle {
  height: 0;
  width: 0;
  border-top: 395px solid transparent;
  border-right: 395px solid #30329C;
  border-bottom: 395px solid #30329C;
  border-left: 395px solid transparent;
}